
html,body{
    height: 100%;
    margin: 0;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#view-port{
    position: relative;
    height: 100%;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.25);
    overflow: auto;
}

ul{
    padding: 0;
}

#inputTodo{
    position: relative;
    display: flex;
    border: 0;
    border-radius: 8px;
    background: rgba(249, 249, 249, 0.42);
    font-size:  20px;
    font-weight: normal;
    width: 400px;
    height: 40px;
    padding-inline-start: 20px;
}

input::-webkit-input-placeholder{
    color: white;
}

input:focus{
    font-size: 20px;
}

#main-view{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.list{
    position: relative;
    display: flex;
    align-items: center;
    border: 0;
    border-radius: 8px;
    background: rgba(249, 249, 249, 0.42);
    width: 400px;
    height: 30px;
    padding-inline-start: 20px;
    margin-top: 5px;
}

.input{
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    display: flex;
    padding-inline-start: 10px;
    background-color: transparent;
}

#list-item{
    opacity: 1;
}

#list-form{
    width: 100%;
}

#list-delete{
    margin-right: 10px ;
}

#list-item-done{
    opacity: 0.5;
    text-decoration: line-through;
    pointer-events: none;
}

.time{
    font-size: 100px;
    font-weight: bold;
    display: flex;
    color: white;
    text-shadow: 0 -3px 20px rgba(0, 0, 0, 0.1);
    padding-top: 100px;
}

#second_eara{
    font-size: 30px;
    margin-inline-start: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.ampm{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}



@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.background_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}